<div class="container">
    <div class="section">
        <div class="label">
            CREATE / SELECT
        </div>
        <div class="dropdown">
            <p-dropdown [options]="robotList" [(ngModel)]="selectedRobot" [editable]="true" optionLabel="name" (onChange)="updateRobotName()"></p-dropdown>
            <div class="saveButton"><i class="fa-solid fa-floppy-disk"></i></div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            PARTS
        </div>
        <div class="partList">
            <div class="part">
                <i class="fa-solid fa-cube"></i>
                <div class="partName">
                    Solid
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-record-vinyl"></i>
                <div class="partName">
                    Wheel
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-arrows-spin"></i>
                <div class="partName">
                    Motor
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-tag"></i>
                <div class="partName">
                    Tag
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            SELECTION
        </div>
        <div class="selectionDetails">
            <div class="col2Item">
                <div class="itemName">
                    ID
                </div>
                <div class="itemValue">
                    <input type="text" pInputText [(ngModel)]="id" disabled="true"> 
                </div> 
            </div>
            <div class="col2Item">
                <div class="itemName">
                    PART
                </div>
                <div class="itemValue">
                    <input type="text" pInputText [(ngModel)]="partType" disabled="true"> 
                </div> 
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        X
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly"  [(ngModel)]="x"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Y
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly"  [(ngModel)]="y"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Z
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly"  [(ngModel)]="z"></p-inputNumber>
                    </div> 
                </div>
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        H
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly" [(ngModel)]="h"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        W
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly"  [(ngModel)]="w"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        D
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly"  [(ngModel)]="d"></p-inputNumber>
                    </div> 
                </div>
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        Rot.X
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly" [(ngModel)]="rotx"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Rot.Y
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly" [(ngModel)]="roty"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Rot.Z
                    </div>
                    <div class="itemValue">
                        <p-inputNumber inputId="integeronly" [(ngModel)]="rotz"></p-inputNumber>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            CONTROLS
        </div>
        <div class="controlList">
            <p-selectButton [options]="controlOptions" [(ngModel)]="selectedControl" [multiple]="true" optionLabel="name"></p-selectButton>
        </div>
    </div>
</div>
