<div class="container">
    <div class="section">
        <div class="label">
            CREATE / SELECT
        </div>
        <div class="dropdown">
            <p-dropdown [options]="robotList" [(ngModel)]="selectedRobot" [editable]="true" optionLabel="name" (onChange)="updateRobotName()"></p-dropdown>
            <div class="saveButton"><i class="fa-solid fa-floppy-disk"></i></div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            PARTS
        </div>
        <div class="partList">
            <div class="part">
                <i class="fa-solid fa-cube"></i>
                <div class="partName">
                    Solid
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-arrows-spin"></i>
                <div class="partName">
                    Joint
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-tag"></i>
                <div class="partName">
                    Tag
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            SELECTION
        </div>
        <div class="selectionDetails">
            <div class="col2Item">
                <div class="itemName">
                    ID
                </div>
                <div class="itemValue">
                    {{threeJS.selectedObject?.id}}
                </div> 
            </div>
            <div class="col2Item">
                <div class="itemName">
                    PART
                </div>
                <div class="itemValue">
                    {{threeJS.selectedObject?.id}}
                </div> 
            </div>
            <div class="split"></div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        Pos.X
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2" [(ngModel)]="threeJS.selectedObject?.position.x" (onInput)="render($event,'position','x')"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Pos.Y
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2"  [(ngModel)]="threeJS.selectedObject?.position.y" (onInput)="render($event,'position','y')"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Pos.Z
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2"  [(ngModel)]="threeJS.selectedObject?.position.z" (onInput)="render($event,'position','z')"></p-inputNumber>
                    </div> 
                </div>
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        Scale.X
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2" [(ngModel)]="threeJS.selectedObject?.scale.x" (onInput)="render($event,'scale','x')"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Scale.Y
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2"  [(ngModel)]="threeJS.selectedObject?.scale.y" (onInput)="render($event,'scale','y')"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Scale.Z
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2"  [(ngModel)]="threeJS.selectedObject?.scale.z" (onInput)="render($event,'scale','z')"></p-inputNumber>
                    </div> 
                </div>
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        Rot.X
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2"  [(ngModel)]="threeJS.selectedObject?.rotation._x" (onInput)="render($event,'rotation','x')"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Rot.Y
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2" [(ngModel)]="threeJS.selectedObject?.rotation._y" (onInput)="render($event,'rotation','y')"></p-inputNumber>
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Rot.Z
                    </div>
                    <div class="itemValue">
                        <p-inputNumber [maxFractionDigits]="2" [(ngModel)]="threeJS.selectedObject?.rotation._z" (onInput)="render($event,'rotation','z')"></p-inputNumber>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            CONTROLS
        </div>
        <div class="controlList">
            <p-selectButton [options]="controlOptions" [(ngModel)]="selectedControl" optionLabel="name" (onChange)="updateControl()"></p-selectButton>
        </div>
    </div>
</div>
