<div class="container">
    <div class="section">
        <div class="label">
            PARTS
        </div>
        <div class="partList">
            <div class="part">
                <i class="fa-solid fa-cube"></i>
                <div class="partName">
                    Solid
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-record-vinyl"></i>
                <div class="partName">
                    Wheel
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-arrows-spin"></i>
                <div class="partName">
                    Motor
                </div>
            </div>
            <div class="part">
                <i class="fa-solid fa-tag"></i>
                <div class="partName">
                    Tag
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            SELECTION
        </div>
        <div class="selectionDetails">
            <div class="col2Item">
                <div class="itemName">
                    ID
                </div>
                <div class="itemValue">
                    <input type="text" placeholder="ID" />
                </div> 
            </div>
            <div class="col2Item">
                <div class="itemName">
                    PART
                </div>
                <div class="itemValue">
                    <input type="text" placeholder="ID" />
                </div> 
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        X
                    </div>
                    <div class="itemValue">
                        <input type="text" placeholder="ID" />
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Y
                    </div>
                    <div class="itemValue">
                        <input type="text" placeholder="ID" />
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        Z
                    </div>
                    <div class="itemValue">
                        <input type="text" placeholder="ID" />
                    </div> 
                </div>
            </div>
            <div class="col3Item">
                <div class="item">
                    <div class="itemName">
                        H
                    </div>
                    <div class="itemValue">
                        <input type="text" placeholder="ID" />
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        W
                    </div>
                    <div class="itemValue">
                        <input type="text" placeholder="ID" />
                    </div> 
                </div>
                <div class="item">
                    <div class="itemName">
                        D
                    </div>
                    <div class="itemValue">
                        <input type="text" placeholder="ID" />
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="label">
            Node Tree
        </div>
    </div>
</div>
